<div>
  <h2>Student Application</h2>
  <h4>First Name</h4>
  <p>
    <%= @student.first_name %>
  </p>
  <h4>Last Name</h4>
  <p>
    <%= @student.last_name %>
  </p>
  <h4>Would you rather randomly time travel +/- 20 years every time you fart or teleport to a different place on earth (on land, not water) every time you sneeze?</h4>
  <p>
    <%= @student.wyr %>
  </p>
</div>