<div>
  <h2>Teacher Application</h2>
  <h4>Full Name</h4>
  <p>
    <%= @teacher.full_name %>
  </p>
  <h4>Course Name</h4>
  <p>
    <%= @teacher.course_name %>
  </p>
  <h4>Grade Level</h4>
  <p>
    <%= @teacher.grade_level %>
  </p>
</div>
